@using GestionePizzeria.Models;
@{
    Dictionary<Prodotto, int> Carrello = Session["Carrello"] as Dictionary<Prodotto, int>;
    int qtaCarrello = 0;

    if(Carrello != null) {
        foreach(KeyValuePair<Prodotto,int> item in Carrello)
        {
            qtaCarrello += item.Value;

        }
    }

 }


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-orange zindex-nav fs-4">
        <div class="container">
            <a href="/Home/index" class="text-decoration-none"><img src="~/Images/logo.png" alt="Alternate Text" style="width:160px" ; /></a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @*<li>@Html.ActionLink("Informazioni", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@



                    @if (Request.Cookies[".ASPXAUTH"] != null)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Acquista Prodotti", "ListaProdotti", "Prodotto", new { area = "" }, new { @class = "nav-link" })</li>
                            <div class="position-relative">
                            <li>
                                <a href="/Ordine/Cart" class="nav-link">
                                    <i class="bi bi-cart4"></i>
                                    @if (qtaCarrello != 0)
                                    {<span class="translate-middle badge rounded-pill bg-danger" style="position:absolute; top:11px; left:90%">@qtaCarrello</span>}
                                </a>
                            </li>
                    </div>
                    @*<li>@Html.ActionLink("Carrello", "Cart", "Ordine", new { area = "" }, new { @class = "nav-link" })</li>*@

                }

            }

                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Home/Backoffice" class="nav-link d-flex ms-auto">Backoffice<i class="bi bi-building-fill ms-2"></i></a>
                        @*<li class="d-flex ms-2">@Html.ActionLink("BackOffice", "Backoffice", "Home", new { area = "" }, new { @class = "nav-link" })<i class="bi bi-building-fill nav-link ms-0"></i></li>*@
                    }
                    @if (Request.Cookies[".ASPXAUTH"] != null)
                    {
                        <a href="/Login/Logout" class="nav-link d-flex ms-auto"><i class="bi bi-box-arrow-in-left me-2"></i>Logout</a>
                        @*<li class="ms-auto d-flex"><i class="bi bi-box-arrow-in-left nav-link"></i>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link" })</li>*@
                    }
                    else
                    {
                        <a href="/Login/Login" class="nav-link d-flex ms-auto"><i class="bi bi-box-arrow-in-right me-2"></i>Login</a>
                        @*<li class="ms-auto d-flex"><i class="bi bi-box-arrow-in-right nav-link"></i>@Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })</li>*@
                    }



                    </ul>
                </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
