@model GestionePizzeria.Models.Ordine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utente.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utente.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOridine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOridine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndirizzoConsegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndirizzoConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idOrdine }) |
    @Html.ActionLink("Back to List", "Index")
</p>
