@model GestionePizzeria.Models.Ordine

@{
    ViewBag.Title = "Details";
}

<h2 class="display-4">Dettaglio Ordine </h2>

<div>

    <hr />
    <dl class="dl-horizontal fs-5">
        <dt>
            @Html.DisplayNameFor(model => model.Utente.Username)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Utente.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOridine)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.DataOridine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importo)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Importo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndirizzoConsegna)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.IndirizzoConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaso)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Evaso)
        </dd>

    </dl>
</div>
<div class="d-flex justify-content-between">
    @Html.ActionLink("Edit", "Edit", new { id = Model.idOrdine }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Indietro", "Index", "Ordine", new { area = "" }, new { @class = "btn btn-dark" })
</div>
