@model IEnumerable<GestionePizzeria.Models.Ordine>

@{
    ViewBag.Title = "Index";
    var feedBack = Session["Messaggio"];
    bool inserimento = (bool)TempData["Inserimento"];

}

<h2>Index</h2>
<div id="alert" class="alert alert-success @((inserimento == true ? "d-block" : "d-none" )) " role="alert">
    @feedBack
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOridine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndirizzoConsegna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Utente.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOridine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndirizzoConsegna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idOrdine }) |
            @Html.ActionLink("Details", "Details", new { id = item.idOrdine }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idOrdine }) |
            @if (item.Evaso == false)
            {
                @Html.ActionLink("Evadi", "EvadiOrdine", "Ordine" ,new { id = item.idOrdine }, new { @class = "btn btn-warning" })
            }
            else
            {
                @Html.ActionLink("Evaso", "Index", "Ordine", new { area = "" }, new { @class = "btn btn-success disabled" })
            }


        </td>
    </tr>
}

</table>


<script>
    // Verifica se c'è un feedback da mostrare e mostra l'alert se presente
    var alertDiv = document.getElementById('alert');
    if (alertDiv.classList.contains('d-block')) {
        setTimeout(function () {
            alertDiv.classList.remove('d-none');
            alertDiv.classList.add('d-none'); // Rimuovi la classe per nascondere l'alert dopo 4 secondi
        }, 4000);
    }
</script>