
@{
    ViewBag.Title = "ListaProdotti";
    List<GestionePizzeria.Models.Prodotto> ListaProdotti = ViewBag.ListaProdotti;
}

<h2 class="display-5">Seleziona i prodotti che vuoi acquistare</h2>

<div class="container">
    <div class="row">
        @foreach(var item in ListaProdotti) {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div>
                    <img class="img-fluid" src="@item.Foto" alt="img Prodotto" style="height: 15rem; object-fit: cover" >
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Nome</h5>
                    <div class="accordion" id="accordion_@item.idProdotto">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.idProdotto" aria-expanded="true" aria-controls="collapseOne">
                                    Ingredienti
                                </button>
                            </h2>
                            <div id="collapse_@item.idProdotto" class="accordion-collapse collapse" data-bs-parent="#accordion_@item.idProdotto">
                                <div class="accordion-body">
                                    <strong>@item.Ingredienti</strong>
                                </div>
                            </div>
                        </div>
                    </div>


                        @*<p class="card-text">@item.Ingredienti</p>*@
                        @Html.ActionLink("Aggiungi al Carrello", "AddTocart", "Prodotto", new { idProdotto = item.idProdotto }, new { @class = "btn btn-warning" })
                    </div>
                </div>
        </div>
        }
    </div>
</div>

